Source: niri
Maintainer: Michael Mnemonic <michaelmnemonic@posteo.de>
Section: system
Priority: optional
Standards-Version: 25.11
Build-Depends: debhelper-compat (= 13)

Package: niri
Architecture: any
Depends: bash,alacritty,fuzzel
Description: A scrollable-tiling Wayland compositor.